.login-container {
  max-width: 400px; /* Ajusted to fit the login card */
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Changed to white background */
  color: #000; /* Changed to black text for contrast */
  text-align: center;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000; /* Ensure the header text is black */
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #000; /* Ensure labels are black */
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ffc451;
  background-color: transparent; /* Ensures the background is white */
  color: #000; /* Black text */
}

.btn {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  background-color: #ffc451;
  border: none;
  color: #000;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e6b140; /* Slightly darker shade for hover */
}

.login-container a {
  color: #000; /* Set link color to black */
}

.login-container a:hover {
  color: #444; /* Slightly darker shade for hover */
}

.form-control.password {
  margin-bottom: 20px; /* Increased bottom margin for spacing */
}
