.custom-dropdown .dropdown-toggle {
  color: white !important;
}

.custom-dropdown .dropdown-menu {
  background-color: transparent /* Se quiser mudar a cor do fundo do dropdown */
}

.custom-dropdown .dropdown-item {
  color: rgb(255, 255, 255); /* Se quiser mudar a cor dos itens do dropdown */
}

/* Alterar a cor da barra do dropdown interno */
.custom-dropdown .dropdown-menu::before {
  background-color: #f00; /* Substitua #f00 pela cor desejada */
}
/* Pode apagar se quiser*/

