.custom-dropdown .dropdown-toggle {
  color: white !important;
}

.custom-dropdown .dropdown-menu {
  background-color: rgb(0, 0, 0); /* Se quiser mudar a cor do fundo do dropdown */
}

.custom-dropdown .dropdown-item {
  color: black; /* Se quiser mudar a cor dos itens do dropdown */
}

/* Pode apagar se quiser*/

